* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --cor-principal: #FF5C00;
    --cor-de-fundo: #e7e7e7;
    --cor-detalhes: #222222;
    --cor-padrao: #FFFFFF;
    --color-padrao2: #000;
    --color-cinza: #9F9F9F;
}

.white {
    color: var(--cor-padrao);
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--color-padrao2);
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #333;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
}

header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: var(--cor-padrao);
    padding: 30px 50px;
    filter: drop-shadow(1px 1px 10px gray);
    position: sticky;
    top: 0px;
}

.lista-header {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.lista-header>li {
    list-style-type: none;
}

.lista-header>li>a:hover {
    color: var(--cor-principal);
    transition: 0.1s;
}

.btn-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: var(--cor-padrao);
    border: 1px solid rgba(128, 128, 128, 0.557);
    visibility: hidden;
}

.btn-menu:hover {
    background-color: rgba(128, 128, 128, 0.16);
    transition: 0.5s;
}

section {
    height: 100vh;
}

@media screen and (max-width:1250px) {
    header {
        justify-content: space-between;
    }
    .lista-header {
        display: none;
    }
    .btn-menu {
        visibility: visible;
    }
    .inicio {
        flex-direction: column;
        gap: 10px;
    }
}