*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
:root{
    --cor-principal: #FF5C00;
    --cor-de-fundo: #F5F5F5;
    --cor-detalhes: #222222;
    --cor-padrao: #FFFFFF;
    --color-padrao2:#000;
    --color-cinza: #686A6F;
    

}
a{
    color: var(--color-padrao2);
    text-decoration: none;
}
body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background: #333;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
  
  }
header{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: var(--cor-padrao);
   padding: 30px 50px;
   filter: drop-shadow(1px 1px 10px gray);
   position: sticky;
   top: 0px;

}
.lista-header{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.lista-header > li{
    list-style-type: none;
}
.lista-header > li > a:hover{
color: var(--cor-principal);
transition: 0.1s;
}
.btn-menu{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: var(--cor-padrao);
    border: 1px solid rgba(128, 128, 128, 0.557);
    visibility: hidden;
}
.btn-menu:hover{
    background-color: rgba(128, 128, 128, 0.16);
    transition: 0.5s;
    
}
section{
    height: 100vh;
}
.inicio{
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.inicio-texto{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inicio-p{
    
    color: var(--cor-principal);
   
}
.inicio-p2{
    color: var(--color-cinza);
}
.btns-inicio{
    display: flex;
    gap: 30px;
}
.btn-inicio-primary{
    padding: 10px;
    background-color: var(--cor-principal);
    width: 150px;
    height: 40px;
    text-align: center;
    color: var(--cor-padrao);
    border-radius: 5px;
}

.btn-inicio-secundary{
    padding: 10px;
    background-color: var(--cor-padrao);
    width: 150px;
    height: 40px;
    text-align: center;
    color: var(--color-padrao2);
    border-radius: 5px;
}
.btn-inicio-primary:hover{
    background-color: orangered;
    transition: 0.5s;
    cursor: pointer;
}
.btn-inicio-secundary:hover{
    background-color: var(--color-cinza);
    transition: 0.5s;
    cursor: pointer;
}


.inicio-img{
    

}

@media screen and (max-width:1023px){
    header{
        justify-content: space-between;
    }
    .lista-header{
        display: none;
    }
    .btn-menu{
        visibility: visible;
    }
    .inicio{
        flex-direction: column;
        gap: 10px;
        
    }
    .inicio-text{
        
    }

}
@media screen and (max-width:640px){
    .img-peso{
        width: 300px;
        height: 300px;
    }
}
